:root{
  --primary-color: #2c72d4;
  --primary-light: #6fa7f5;
  --primary-dark: #003175;
  --primary-gradient:linear-gradient(to right,var(--primary-color),var(--primary-light));
  /*--fonts:"Roboto", Times, serif;*/
  --font-size: 1.8em;
  --text-color: white;
  --clear-menu: 119px;
  --footer-height:150px;
}
body{
  background-color:lightgrey;
}

.ui.header.black-header{
  color:black;
}

#page-container{
  height:auto;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width:100%;
  min-height:calc(100vh - var(--clear-menu));
}

/*#page-container{
  position: relative;
  min-height:100vh;
}*/

#content-wrapper{
  flex:1;
  display: flex;
  flex-direction: column;
  /*position: relative;
  min-height:calc(100vh - var(--footer-height) - var(--clear-menu));
  padding-bottom: var(--footer-height);*/
}

footer{
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  background-image: var(--primary-gradient);
  height: var(--footer-height);
}


.ui.header{
  color:#fff;
}
/*Navbar*/


.navbar-wrapper{
  height: var(--clear-menu);
}
.ui.menu{
  background-image: linear-gradient(to right,var(--primary-color),var(--primary-light));
  box-shadow: 1px 1px 2px 7px rgba(34,36,38,.15);
  border:none;
}

.ui.borderless> .item, .ui.borderless> .item.active{
  font-size: var(--font-size);
  color: var(--text-color);
}

.ui.menu .item.active{
  background: transparent;
}
.ui.borderless> .item:hover:not(.right), .ui.borderless> .item.active:hover:not(.right){
  background-color: var(--primary-dark) !important;
  font-size: var(--font-size);
  color: var(--text-color) !important;
}

/*Content Container*/
.ui.segment.content-container{
  flex:1;
  display:flex;
  flex-direction: column;
}
/*Client Login Button NavBar*/

.ui.menu .login-btn{
  color:var(--text-color);
}

 .client-login-item:hover{
  border:none;
}

/*CONTACT FORM*/
.ui.segment.contact-info{
  height:100%;
  background-image:var(--primary-gradient);
  border:none;
  border-radius: 10%;
  box-shadow: 0px 2px 7px 2px;
  width:50%;
  margin:auto;
}

.ui.segment.contact-form-container{
  flex:1;
  display:flex;
  flex-direction: column;
  justify-content: center;
  height:auto;
}

.ui.segment.contact-form-segment{
  width:60%;
  flex:1;
  display: flex;
  flex-direction: column;
  margin:auto;
}

.ui.form.contact-form{
  flex:1;
  display: flex;
  flex-direction: column;
}




/*TICKET DASHBOARD*/

.ticket-dashboard{
  margin-top: 20px;
  margin-bottom: 20px;
}

.ticket-segment{
  background-image: linear-gradient(to right,var(--primary-color),var(--primary-light)) !important;
}

.ticket-item{
  background-color: white;
  border-radius: .3rem;
  padding:5px;
}

.ticket-header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom:20px;
}

.ticket-site{
  margin-bottom: 20px;
}

.ticket-description{
  margin-bottom:20px;
}

.ticket-text{
  margin-top:20px !important;
  box-shadow: 1px 1px 2px 2px rgba(34,36,38,.15);
  border-radius: .3rem;
  padding:5px 5px 20px 5px;
  margin:0px 5px 0px 5px;
}

/*SLIDESHOW AND QUOTE FORM*/
.ui.segment.welcome-flex{
  background-image: linear-gradient(to bottom right, var(--primary-color), var(--primary-light));
  display: flex;
  justify-content: space-between;
}

.quoteform-div{
  width:700px;
  /*padding-left: 400px;*/
  max-height: 500px;
  position: absolute;
  z-index: 2;
  bottom: 25%;
  right: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px;
}

.quoteForm{
  flex-basis: 75%;
}

.quote-description > textarea{
  max-height: 205px !important;
  min-height: 120px;
}


/* Slideshow */

.slideshow {
  position: relative;
  overflow: hidden;
  /*margin:auto;*/
  background: #fff;
  box-shadow: 0 1px 5px 5px rgb(34 36 38 / 15%);
  border-bottom-left-radius:.3rem;
  border-bottom-right-radius:.3rem;
  width: 100%;
  padding-bottom: 10px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 2000ms;
}

.slide {
  display: inline-block;

  height: 700px;
  width: 100%;
}

/*SLideshow Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: var(--primary-color);
}

/*Portfolio Slider*/
.ui.card{
  transition: none;
}

.portfolio{
  padding:30px;

}

.port-slideshow {
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 1px 5px 5px rgb(34 36 38 / 15%);
  border-bottom-left-radius:.3rem;
  border-bottom-right-radius:.3rem;
  height: 500px;
  width: 100%;
}

.port-slideshowSlider {
  display:flex;
  justify-content: space-around;
  align-items: center;
  height:100%;
  width:166%;
  white-space: nowrap;
  
}

.port-slide {
  display: inline-block;
  height: 60%;
  width: 300px;
  transition: margin ease 2000ms;
}

.ui.positive.button.right-btn{
  position: absolute;
  bottom:50%;
  right:2%;
}

.ui.positive.button.left-btn{
  position: absolute;
  bottom:50%;
  left:1%;
}

/*Home Page*/

.segment-div, .ui.segment.segment-div-white{
  background-image:linear-gradient(to bottom right,var(--primary-color),var(--primary-light));
  border-radius: .3rem;
  width: 100%;
  padding: 30px;
  margin:0px;
  
}

.ui.segment.segment-div-white{
  z-index: 2;
  background-image: none;
  box-shadow: 0 1px 2px 10px rgb(34 36 38 / 15%);

}


/*Stlye My Photo on HomePage*/
.ui.large.image{
  box-shadow: 2px 2px 6px 5px rgba(0, 0, 0, 0.15);
}

.about{
  display:flex;
  flex-direction: row;
  height:100%;
  justify-content: space-around;
  align-items: center;
}

/*@media screen (max-width){
  
}*/

.my-goal-text{
  font-size:var(--font-size);
}

.ui.raised.segment.about-section, .ui.raised.segment.my-tools{
  margin-top: 0;
  margin-bottom: 0;
}


.ui.tiny.rounded.image{
  margin-left:28%;
  padding: 5px;
}

.ui.small.rounded.image{
  margin-left:20%;
  padding: 5px;
}

.tool-img{
  border-radius: .3125em;
}

.ui.small.image:hover, .ui.tiny.rounded.image:hover{
  background-color: var(--primary-light);
  transition: background-color 0.5s ease-in-out;
}


/*Profile*/

/*.ui.header.profile-header{
  margin-top: var(--clear-menu);
}*/

/*Login Form
.login-form{
  margin-top: var(--clear-menu);
}*/

.login-img{
  margin:auto;
}

.ui.pointing.secondary.menu > .item{
  color:black;
}

/*FAQ*/
.ui.styled.accordion{
  width:95%;
}
.accordion.ui.styled.faq-accordion > .title{
  color: var(--primary-dark);
  font-size: 2em;
}
.accordion.ui.styled.faq-accordion > .title:hover{
  color: var(--primary-color);
}

/*Client Manager

.clientManager{

}

*/


